<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;font-size:3rem;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Contact Us</h1>
    <hr style="width:80rem;height: 3px;color: black;background-color: black;">
    <br>
    <br>
    <div class="c1">
        <div class="c">
            <img style="filter: opacity(0.5) drop-shadow(0 0 0 rgb(227, 225, 230))drop-shadow(0 0 0 rgb(230, 108, 9));margin-left: auto;margin-right: auto;display: block;"src="assets/contact-us-call-icon.png">
            <h3 style="text-align: center;color: rgb(4, 16, 37);font-size: 1.2rem;">Call Us</h3>
            <hr style="width: 15vw;height: 3px;background-color: black;"><br>
            <a style="font-size: 24px;display: block;">+91 40 2371 0657</a>
             <br><a style="font-size: 24px;display: block;">+91 40 2380 0657</a>


            
        </div>
        <div class="c">
            <img style="filter: opacity(0.5) drop-shadow(0 0 0 rgb(227, 225, 230))drop-shadow(0 0 0 rgb(230, 108, 9));margin-left: auto;margin-right: auto;display: block;" src="assets/contact-us-mail-icon.png">
            <h3 style="text-align: center;color: rgb(4, 16, 37);font-size: 1.2rem;">Mail Us</h3>
            <hr style="width: 15vw;height: 3px;background-color: black;"><br><br>
            <a style="font-size: 20px;display: block;">spectrumallinone.in&commat;gmail.com</a>
        </div>
        <div class="c">
            <img style="filter: opacity(0.5) drop-shadow(0 0 0 rgb(227, 225, 230))drop-shadow(0 0 0 rgb(230, 108, 9));margin-left: auto;margin-right: auto;display: block;" src="assets/contact-us-working-icon.png">
            <h3 style="text-align: center;color: rgb(4, 16, 37);font-size: 1.2rem;">Working Hours</h3>
            <hr style="width: 15vw;height: 3px;background-color: black;"><br><br>
            <a style="font-size: 20px;display: block;">9 AM TO 5 PM</a>
        </div>

    </div>
    
    <div class="container">
        <div class="l">
            <h2>Address:</h2>
            <a >Head Office:</a>
        <pre style="line-height: 1.4;margin-top: 1px;">#326/C, Near B K Guda Park
S R Nagar, Hyderabad - 500 038,
Telangana State, India.  </pre>
        </div>
        <div class="r">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15225.078524520071!2d78.43344877456052!3d17.446804200000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9153c3b57011%3A0x7310c12e7b945861!2sSpectrum%20Publications!5e0!3m2!1sen!2sin!4v1712596666002!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div><br><br><br>
</body>
</html>