<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
    
    <nav>
        <a routerLink="/home"  routerLinkActive="activebutton" ariaCurrentWhenActive="page"><img  src="/assets/logo.jpg " /></a>
        <a class="btn-cn"routerLink="/home"  routerLinkActive="activebutton" ariaCurrentWhenActive="page" style="margin: 5px;"><a style="margin-left: 10px;"></a>Spectrum<br> <a>Publications</a></a>
        <a class="btn about" routerLink="/about" routerLinkActive="activebutton" ariaCurrentWhenActive="page">About Us</a>
        <div class="dropdown">
            <button class="dropbtn" routerLink="/books"  routerLinkActive="activebutton" ariaCurrentWhenActive="page" style="font-family: Helvetica;font-size: 1.3rem;">Books 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a routerLink="/books"  routerLinkActive="activebutton" ariaCurrentWhenActive="page" >Engineering Books</a>
              <a routerLink="/degree"  routerLinkActive="activebutton" ariaCurrentWhenActive="page" >Degree Books</a>
              <a routerLink="/diploma"  routerLinkActive="activebutton" ariaCurrentWhenActive="page">Diploma Books</a>
              <a routerLink="/pg"  routerLinkActive="activebutton" ariaCurrentWhenActive="page">Post Graduation Books</a>
              <a routerLink="/govt"  routerLinkActive="activebutton" ariaCurrentWhenActive="page">Government Recruitment</a>
              
            </div>
          </div> 
        <a class="btn contact" routerLink="/contact" routerLinkActive="activebutton" ariaCurrentWhenActive="page" style="margin-left: -.2rem;">Contact</a>
       <div class="l2" style="float: right;margin-left: 40rem;"> <a   routerLink="/home"  routerLinkActive="activebutton" ariaCurrentWhenActive="page"><img  src="/assets/logo2.jpg " /></a>
       </div>
    </nav>
    
    
    <router-outlet>

    </router-outlet>

    <footer >
      <div class="f1">
        <h3>Spectrum Publications</h3>
        
        <a >Head Office:</a>
        <pre style="line-height: 1.4;margin-top: 1px;">#326/C, Near B K Guda Park
S R Nagar, Hyderabad - 500 038,
Telangana State, India.        
        </pre>
      </div>
      <div class="f1">
         
          <ul>
              <li style="margin-top: 1rem; " ><a (click)="scrollToTop()" style="color:white;text-decoration: none;" routerLink="/home"  routerLinkActive="activebutton" ariaCurrentWhenActive="page">Home</a></li>
              <li><a (click)="scrollToTop()" style="color:white;text-decoration: none;" routerLink="/about"  routerLinkActive="activebutton" ariaCurrentWhenActive="page">About Us</a></li>
              <li><a (click)="scrollToTop()" style="color:white;text-decoration: none;" routerLink="/books"  routerLinkActive="activebutton" ariaCurrentWhenActive="page">Books</a></li>
              <li><a (click)="scrollToTop()" style="color:white;text-decoration: none;" routerLink="/contact"  routerLinkActive="activebutton" ariaCurrentWhenActive="page">Contact</a></li>
          </ul>
      </div>
      <div class="f1">
          <ul>
              <li><a style="color: white;text-decoration: none;" href="/assets/Terms&Conditions.pdf" target="_blank" >Terms & Conditions</a></li>
              <li><a style="color: white;text-decoration: none;" href="/assets/Privacy Policy.pdf" target="_blank" >Privacy Policy</a></li>
              <li>Contact Us</li>
          </ul>
      </div>
      
      <div class="f1">
          <h3>Categories</h3>
          <ul style="margin-top: -1rem; text-decoration: none;color:white;">
            <li><a (click)="scrollToTop()" routerLink="/books"  routerLinkActive="activebutton" ariaCurrentWhenActive="page" >Engineering Books</a></li>
            <li><a (click)="scrollToTop()" routerLink="/degree"  routerLinkActive="activebutton" ariaCurrentWhenActive="page" >Degree Books</a></li>
            <li><a (click)="scrollToTop()" routerLink="/diploma"  routerLinkActive="activebutton" ariaCurrentWhenActive="page">Diploma Books</a></li>
            <li><a (click)="scrollToTop()" routerLink="/pg"  routerLinkActive="activebutton" ariaCurrentWhenActive="page">Post Graduation Books</a></li>
            <li><a (click)="scrollToTop()" routerLink="/govt"  routerLinkActive="activebutton" ariaCurrentWhenActive="page">Government Recruitment</a></li>
          </ul>
      </div>
      
  </footer>
</body>
</html>
