<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
    
    <nav>
        <a routerLink="/home"  routerLinkActive="activebutton" ariaCurrentWhenActive="page"><img  src="/assets/logo.jpg " /></a>
        <a class="btn-cn"routerLink="/home"  routerLinkActive="activebutton" ariaCurrentWhenActive="page" style="margin: 5px;"><a style="margin-left: 10px;"></a>Spectrum<br> <a>Publications</a></a>
        <a class="btn about" routerLink="/about" routerLinkActive="activebutton" ariaCurrentWhenActive="page">About Us</a>
        <div class="dropdown">
            <button class="dropbtn" routerLink="/books"  routerLinkActive="activebutton" ariaCurrentWhenActive="page" style="font-family: Helvetica;font-size: 1.3rem;">Books 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a routerLink="/books"  routerLinkActive="activebutton" ariaCurrentWhenActive="page" >Engineering Books</a>
              <a routerLink="/degree"  routerLinkActive="activebutton" ariaCurrentWhenActive="page" >Degree Books</a>
              <a href="#">Medical Entrances</a>
              <a href="#">Government Recruitment</a>
              <a href="#">Post Graduation Books</a>
            </div>
          </div> 
        <a class="btn contact" routerLink="/contact" routerLinkActive="activebutton" ariaCurrentWhenActive="page" style="margin-left: -.2rem;">Contact</a>
        
        
    </nav>
    
    
    <router-outlet>

    </router-outlet>

    <footer>
      <div class="f1">
          <h3>Spectrum Publications</h3>
          <ul>
              <li style="margin-top: -1.6rem;">Home</li>
              <li>About Us</li>
              <li>Books</li>
              <li>Contact</li>
          </ul>
      </div>
      <div class="f1">
          <ul>
              <li><a style="color: white;text-decoration: none;" href="/assets/Terms&Conditions.pdf" target="_blank" >Terms & Conditions</a></li>
              <li>Privacy Policy</li>
              <li>Contact Us</li>
          </ul>
      </div>
      <div class="f1">
          <h3>Products</h3>
          <ul>
              <li style="margin-top: -1rem;">Books</li>
              
          </ul>
      </div>
      <div class="f1">
          <h3>Categories</h3>
          <ul style="margin-top: -1rem;">
              <li>Engineering</li>
              <li>About Us</li>
              <li>Books</li>
              <li>Contact</li>
          </ul>
      </div>
      <div class="f1">
          <ul>
              <li>Home</li>
              <li>About Us</li>
              <li>Books</li>
              <li>Contact</li>
          </ul>
      </div>
  </footer>
</body>
</html>
