<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
<br>
<div class="slider-container">
 
    <div class="slider-images">
        <img src="assets/banner.jpg">
        <img src="assets/b1.jpg">
        <img src="assets/b2.jpg">
        <img src="assets/b3.jpg">
        <img src="assets/b4.jpg">
        

    </div>
</div>
<div class="categories">
    <h2>Explore our Categories</h2>
    <div class="t" >
        <div class="c1" >
            
            <img (click)="scrollToTop()" routerLink="/books"  routerLinkActive="activebutton" ariaCurrentWhenActive="page" style="cursor: pointer;" src="assets/c1.png" >
            <h3 routerLink="/books"  routerLinkActive="activebutton" ariaCurrentWhenActive="page" style="margin-top: -1.rem;" >Engineering Books</h3>
        </div>
        <div class="c1" >
            <img (click)="scrollToTop()" routerLink="/degree"  routerLinkActive="activebutton" ariaCurrentWhenActive="page" style="cursor: pointer;"src="assets/c2.png">
            <h3 routerLink="/degree"  routerLinkActive="activebutton" ariaCurrentWhenActive="page" style="cursor: pointer;"style="margin-top: -1.rem;">Degree Books</h3>
        </div>
        <div class="c1" >
            <img (click)="scrollToTop()" routerLink="/diploma"  routerLinkActive="activebutton" ariaCurrentWhenActive="page" style="cursor: pointer;" src="assets/c3.png">
            <h3 routerLink="/diploma"  routerLinkActive="activebutton" ariaCurrentWhenActive="page" style="cursor: pointer;" style="margin-top: -1rem;">Diploma Books</h3>
        </div>
        <div class="c1" >
            <img (click)="scrollToTop()" routerLink="/pg"  routerLinkActive="activebutton" ariaCurrentWhenActive="page" style="cursor: pointer;" src="assets/c4.png">
            <h3  routerLink="/pg"  routerLinkActive="activebutton" ariaCurrentWhenActive="page" style="margin-top: -1rem;cursor: pointer;">Post Graduation Books</h3>
        </div>
        <div class="c1" >
            <img (click)="scrollToTop()" routerLink="/govt"  routerLinkActive="activebutton" ariaCurrentWhenActive="page" style="cursor: pointer;"  src="assets/c1.png">
            <h3 routerLink="/govt"  routerLinkActive="activebutton" ariaCurrentWhenActive="page" style="cursor: pointer;" style="margin-top: -1rem;">Government Recruitment Books</h3>
        </div>
    </div>
</div>
<br>
<br>
<section class="counters">
    <div class="container">
      <div class="counter">{{ currentCount1.toFixed() }}+</div>
      <h3 style="text-align: center;">Years</h3>
    </div>
    <div class="container">
      <div class="counter">{{ currentCount2.toFixed() }}+</div>
      <h3 style="text-align: center;">Colleges</h3>
    </div>
    <div class="container">
      <div class="counter">{{ currentCount3.toFixed() }}+</div>
      <h3 style="text-align: center;">Students</h3>
    </div>
  </section>
  
  
<br>
<br>

</body>
</html>