<br>
<br>
<div class="slider-container">
 
    <div class="slider-images">
        <img src="assets/banner.jpg">
        <img src="assets/b1.jpg">
        <img src="assets/b2.jpg">
        <img src="assets/b3.jpg">
        <img src="assets/b4.jpg">
        

    </div>
</div>
<div class="categories">
    <h2>Explore our Categories</h2>
    <div class="t" >
        <div class="c1">
        
            <img src="assets/c1.png">
            <h3 style="margin-top: -1rem;">Engineering</h3>
        </div>
        <div class="c1" >
            <img src="assets/c2.png">
            <h3 style="margin-top: -1rem;">Competitive Entrances</h3>
        </div>
        <div class="c1" >
            <img src="assets/c3.png">
            <h3 style="margin-top: -1rem;">Medical Entrances</h3>
        </div>
        <div class="c1" >
            <img src="assets/c4.png">
            <h3 style="margin-top: -1rem;">Government Recruitments</h3>
        </div>
        <div class="c1" >
            <img src="assets/c1.png">
            <h3 style="margin-top: -1rem;">Engineering Books</h3>
        </div>
    </div>
</div>
<div class="us">
    <h2 style="text-align: center;">The Journey</h2>
   <div class="o">
    <div class="j">
        <a style="font-size: 2rem;">20+</a>
                <pre style="font-size: 1rem;">Years of
Existence</pre>

   </div>
   <div class="j">
       <a style="font-size: 2rem;">100+</a>
      <pre style="font-size: 1rem;">  Dealers</pre>

  </div>
  <div class="j">
   <a style="font-size: 2rem;">50+</a>
  <pre style="font-size: 1rem;">Colleges</pre>

</div>
   </div>
    

</div>
<footer>
    <div class="f1">
        <h3>Spectrum Publications</h3>
        <ul>
            <li style="margin-top: -1.6rem;">Home</li>
            <li>About Us</li>
            <li>Books</li>
            <li>Contact</li>
        </ul>
    </div>
    <div class="f1">
        <ul>
            <li>Terms & Conditions</li>
            <li>Privacy Policy</li>
            <li>Contact Us</li>
        </ul>
    </div>
    <div class="f1">
        <h3>Products</h3>
        <ul>
            <li style="margin-top: -1rem;">Books</li>
            
        </ul>
    </div>
    <div class="f1">
        <h3>Categories</h3>
        <ul style="margin-top: -1rem;">
            <li>Engineering</li>
            <li>About Us</li>
            <li>Books</li>
            <li>Contact</li>
        </ul>
    </div>
    <div class="f1">
        <ul>
            <li>Home</li>
            <li>About Us</li>
            <li>Books</li>
            <li>Contact</li>
        </ul>
    </div>
</footer>