<br>
<br>
<div class="slider-container">
 
    <div class="slider-images">
        <img src="assets/banner.jpg">
        <img src="assets/b1.jpg">
        <img src="assets/b2.jpg">
        <img src="assets/b3.jpg">
        <img src="assets/b4.jpg">
        

    </div>
</div>
<div class="categories">
    <h2>Explore our Categories</h2>
    <div class="t" >
        <div class="c1" >
            
            <img (click)="scrollToTop()" routerLink="/books"  routerLinkActive="activebutton" ariaCurrentWhenActive="page" style="cursor: pointer;" src="assets/c1.png" >
            <h3 routerLink="/books"  routerLinkActive="activebutton" ariaCurrentWhenActive="page" style="margin-top: -1rem;" >Engineering Books</h3>
        </div>
        <div class="c1" >
            <img (click)="scrollToTop()" routerLink="/degree"  routerLinkActive="activebutton" ariaCurrentWhenActive="page" style="cursor: pointer;"src="assets/c2.png">
            <h3 routerLink="/degree"  routerLinkActive="activebutton" ariaCurrentWhenActive="page" style="cursor: pointer;"style="margin-top: -1rem;">Degree Books</h3>
        </div>
        <div class="c1" >
            <img src="assets/c3.png">
            <h3 style="margin-top: -1rem;">Medical Entrances</h3>
        </div>
        <div class="c1" >
            <img src="assets/c4.png">
            <h3 style="margin-top: -1rem;">Government Recruitments</h3>
        </div>
        <div class="c1" >
            <img src="assets/c1.png">
            <h3 style="margin-top: -1rem;">Engineering Books</h3>
        </div>
    </div>
</div>
<div class="us">
    <h2 style="text-align: center;">The Journey</h2>
   <div class="o">
    <div class="j">
        <a style="font-size: 2rem;">20+</a>
                <pre style="font-size: 1rem;">Years of
Existence</pre>

   </div>
   <div class="j">
       <a style="font-size: 2rem;">100+</a>
      <pre style="font-size: 1rem;">  Dealers</pre>

  </div>
  <div class="j">
   <a style="font-size: 2rem;">50+</a>
  <pre style="font-size: 1rem;">Colleges</pre>

</div>
   </div>
    

</div>
